*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
    
}
body{
    background-color: #F5F5EA;
    background-image: linear-gradient(90deg,#e66465,#9198e5);
    color: #333;
}
.header>img{
    border-radius: 50%;
    margin-top: 16px;
    width: 100%;
    max-width: 300px;
}
.header h1{
    margin-top:200px;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    padding: 16px;
    font-weight: bold;

}
header{
    margin-top: 20px;
    text-align: center;
}
h3{
    padding: 20px;
    font-size: 32px;
    text-decoration: underline;
}
p{
    padding:8px;
    font-size: 30px;
}
ul{
    padding: 40px;
    font-size: 28px;
}
#media{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    max-width: 900px;

}
.small_icons{
    width:100%;
    max-width: 80px;
}
section{
    padding:0 8.5vw;
}
.nav_list{
    display: flex;
    position: fixed;
    gap:50px;
    background-color: #e66465;
    top: 0;
    left: 200px;
    line-height: 30px;
    font-size: 22px;
    padding: 4px 8px;
    width: 100%;
    max-width: 1024px;
    justify-content: space-around;  
    justify-items: center; 
    border: 1px solid transparent;
    border-radius: 6px;
}
.nav_list__item{
    list-style-type: none;
    
}
.nav_list__item:active{
background-color: #e6e6de;;
}
.nav_list__item a{
    color:#333;
    text-decoration: none;
}
.nav_list__item a:hover{
    background-color: #9198e5;
    color:#F5F5EA;
    border-radius:8px;
    padding:8px;
}
.materials{
    display: flex;
    justify-content: space-between;
}
.materials>li{
    list-style-type: none;
}
footer{
    text-align: center;
    font-size: 20px;
    padding-bottom: 50px;
}
.subtittle{
    margin: 150px auto;
    padding-top: 50px;
}
.groups{
    display: flex;
    justify-content: space-between;

}
.groups__item{
    list-style-type: none;
    display:block
} 
.groups__item img{
    width:100%;
    max-width: 300px;
    border-radius: 6px;
    border: 1px solid #333;
}
.materials img{
    width:100%;
    max-width: 300px;
}
@media (max-width: 667px){
    .header h1{
        font-size: 40px;
    }
    .nav_list{
        padding:0;
        left:30%;
        max-width:200px;
        font-size: 12px;
        gap:0;
        flex-direction: column;
        justify-content: center;
    

    }
    .materials{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    p{
        font-size: 16px;
    }
    .groups{
        display:block;
    }
    .groups__item{
        margin-top: 12px;
    }
    #media{
        flex-direction: column;
    }
    h3{
        font-size: 16px;
    }
}